<ul>
  <li>
    <h2>Simple Partial</h2>
    <%= beg_partial :_nav %>
  </li>
  <li>
    <h2>Intermediate Partial</h2>
    <%= int_partial :mouse, "cheeseman" %>
    <%= int_partial :mouse, {:mouse=>"cheeseman"} %>
  </li>
   <li>
    <h2>Advanced Partial</h2>
    <%= adv_partial @cat %>
  </li>
